.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}

*,
::after,
::before {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

.cruise_content_bottom_left ul li {
    background: #f5f4f4;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    display: inline-block;
    padding: 3px 9px;
    font-size: 14px;
    color: var(--black-color);
    margin-right: 10px;
    position: relative;
    top: 10px
}

.cruise_content_bottom_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.section_heading_center {
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px;
}




.section_heading_center h2:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background: #8B5CF6;
    transform: translate(-50%, 50%);
    bottom: 0;
    position: relative;
    top: 40px;


}
